
.b1{
	background:green;
	top: 0px;
	left: 110px;
	}
.b2{
	background:red;
	top: 0px;
	left: 0px;
}
.b3{
	background:orange;
	top: 110px;
	left: 110px;
}
.b4{
	background:blue;
	top: 110px;
	left: 0px;
}
.box{
	border: 1px solid black;
	position: absolute;
	width: 100px;
	height: 100px;
	box-shadow: -185px 4px 14px 1px #000000;

}
.logo{
	transform: rotate(25deg);
	position: absolute;
	top: 100px;
	left: 150px;

}
.App {
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.app-logo {
	height: 212px;
	width: 212px;
	pointer-events: none;
	transform: rotate(25deg);
	position: absolute;
	left: 50%;
	top: 46%;
}

@media (prefers-reduced-motion: no-preference) {
	.app-logo {
		animation: app-logo-spin 5s ease 2s infinite normal;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
